@use '../styles/variables.scss' as *;

.container {
  padding: var(--spacing-xl) var(--padding-page-mobile);
  max-width: 100%;

  @include tablet-and-up {
    padding: var(--spacing-2xl) var(--padding-page-tablet);
  }

  @include desktop-and-up {
    padding: var(--spacing-3xl) var(--padding-page-desktop);
  }
}

.error {
  color: #cc0000;
  font-size: var(--font-size-base);
  padding: var(--spacing-lg) 0;
}
